<div>
    <div>
        <h1>Dashboard</h1>        
    </div>
    <div>
        <label>
            <input ng-model="newTicket.name" />
        </label>
        <button ng-click='createNewTicket()' ng-disabled="hasName()">Create new ticket</button>
    </div>
    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>Supported User</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Commands</th>
            </tr>
            <tr ng-repeat='ticket in model.tickets'>
                <td>{{ticket.title}}</td>
                <td>{{ticket.createdBy}}</td>
                <td>{{ticket.ticketStatus}}</td>
                <td>{{ticket.ticketPriority}}</td>
                <td>
                    <button ng-click='openTicket(ticket.ticketId)'>Open</button>
                    <button ng-click='closeTicket(ticket.ticketId)'>Close</button>
                    <button ng-click='deleteTicket(ticket.ticketId)'>Delete</button>
                </td>
            </tr>
        </table>        
    </div>
</div>