<div>
    <div>
        <div>
            <label>Title:</label>
            <input ng-model="model.title" ng-readonly="!isOpen()">
        </div>
        <div>
            <label>Description:</label>
            <textarea ng-model="model.description" ng-readonly="!isOpen()"></textarea>
        </div>
        <div>
            <label>Supported user:</label>
            {{model.createdBy}}
        </div>
        <div>
            <label>Priority:</label>
            <select data-ng-options="o.name for o in priorities" data-ng-model="selectedPriority" ng-disabled="!isOpen()"></select>
        </div>
        <div>
            <label>Status:</label>
            {{selectedStatus.name}}
        </div>
    </div>
    <button ng-click="saveTicket()">Save</button>
    <button ng-click="open()" ng-show="isNew()">Open</button>
    <button ng-click="close()" ng-show="isOpen()">Close</button>
</div>